<div id="homePage" style="display: block">
    <!-- start deal ----->
    <div class="row" id="homeDeals">
        <div class="large-12 columns">
            <div class="section-container row" style="border: 0;">
                <div id="homeDealsCarousel2" class="sliderContainer">
                    <div class="large-12 large-centered small-land-12 medium-port-12 columns Promo main-slider-space"
                         id="homePromoMenuItems">
                        <div>
                            <div class="homeMenuItmContainer submnuundefined sliderWrapper"
                                 id="c41a60d1-40d5-4b50-89b7-4e191efb6a04"
                                 style="left: -1485.09px; width: 510%;">
                                <div id="BKID_-4000044_undefined" class="SubMenuItem canNotAdd"
                                     style="width: 20%;">
                                    <div class="SubMenuItemInnerContainer">
                                        <div class="ItemFront" style="display: block;">
                                            <div class="ItemTextWrapper">
                                                <!-- <div class="PromoFont med-37 med-large-37 smallest-33 small-33 columns noPadding"></div>-->
                                                <div class="promoItembox">
                                                    <!-- <div class="ItemTitle smallest-60 small-60 med-55 med-large-55 columns noPadding">Pizza <a href="javascript:document._cr_act(139);" class="WebItemButton DealBtn mobPromo"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(138);" class="WebItemButton DealItemBtn mobPromo"><span class="continueSpan"><span id="DEALITEMPRICE_LABEL">Order Now</span></span></a> <a class='WebItemButton AddToCartBtn WebItemBtnTitle mobPromo' href="javascript:document._cr_act(138);"><span id="Span1">Order Now</span></a> </div>-->
                                                </div>
                                            </div>
                                            <div class="ItemImgWrapper">
                                                <a href="javascript:document._cr_act(139);"
                                                   class="promo_customize">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000044-en.jpg"
                                                         orgimg="~/Pizza/Images/Promos/Menu4/portf4000044-en.jpg">
                                                </a>
                                                <a href="javascript:document._cr_act(138);"
                                                   class="promo_addToCart">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000044-en.jpg"
                                                         orgimg="Images/Promos/Menu4/portf4000044-en.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="ItemBack"> <div class="ItemTextWrapper"> <span class="ItemTitle">Pizza</span> <p></p> </div> </div>-->
                                        <div class="ItemCustomizeSection" style="display: none;">
                                            <div class="SelectorsSection">
                                                <div class="Item_Selector1 fake_combobox_wrapper SelectorLeftWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL1CTRLTITLE_-4000044_undefined"
                                                       data-dropdown="SEL1CTRL_-4000044_undefined"></a>
                                                    <ul id="SEL1CTRL_-4000044_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_Selector2 fake_combobox_wrapper SelectorRightWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL2CTRLTITLE_-4000044_undefined"
                                                       data-dropdown="SEL2CTRL_-4000044_undefined">
                                                        Pan
                                                        Pizza
                                                    </a>
                                                    <ul id="SEL2CTRL_-4000044_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_ModGroup fake_combobox_wrapper SelectorCenterWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="CUST_MODGROUP_CTRLTITLE_-4000044_undefined"
                                                       data-dropdown="CUST_MODGROUP_CTRL_-4000044_undefined"></a>
                                                    <ul id="CUST_MODGROUP_CTRL_-4000044_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="underMob">
                                                <!-- <div class='WebItemButton AddToCartBtn'>-->
                                                <!-- <div class='WebItemBtnCounter' id="QTY_-4000044_undefined">1</div> <div class='WebItemBtnCounter_BtnsWrp'> <a class='CounterUp' href='javascript:document._cr_act(136);'></a> <a class='CounterDown' href='javascript:document._cr_act(137);'></a> </div>-->
                                                <!-- <a class='WebItemBtnTitle' href="javascript:document._cr_act(138);"><span id="PRICE_-4000044_undefined" >Order Now</span></a>-->
                                                <!-- </div>-->
                                                <!-- <a href="javascript:document._cr_act(139);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(138);" class="WebItemButton DealItemBtn"><span class="continueSpan">Order Now</span></a>-->
                                                <!-- <a href="javascript:document._cr_act(139);" class="WebItemCustomizeLink">Customize</a>-->
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="BKID_-52000_undefined" class="SubMenuItem canNotAdd canCustomize"
                                     style="width: 20%;">
                                    <div class="SubMenuItemInnerContainer">
                                        <div class="ItemFront">
                                            <div class="ItemTextWrapper">
                                                <!-- <div class="PromoFont med-37 med-large-37 smallest-33 small-33 columns noPadding">110<span class='currencySymbol'>&nbsp;AED</span></div>-->
                                                <div class="promoItembox">
                                                    <!-- <div class="ItemTitle smallest-60 small-60 med-55 med-large-55 columns noPadding">Ramadan Feast <a href="javascript:document._cr_act(145);" class="WebItemButton DealBtn mobPromo"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(144);" class="WebItemButton DealItemBtn mobPromo"><span class="continueSpan"><span id="DEALITEMPRICE_LABEL">Order Now</span></span></a> <a class='WebItemButton AddToCartBtn WebItemBtnTitle mobPromo' href="javascript:document._cr_act(144);"><span id="Span1">Order Now</span></a> </div>-->
                                                </div>
                                            </div>
                                            <div class="ItemImgWrapper">
                                                <a href="javascript:document._cr_act(145);"
                                                   class="promo_customize">
                                                    <img src="~/Pizza/Images/Promos/Menu4/deal000052-en.jpg"
                                                         orgimg="Images/Promos/Menu4/deal000052-en.jpg">
                                                </a> <a href="javascript:document._cr_act(144);"
                                                        class="promo_addToCart">
                                                    <img src="~/Pizza/Images/Promos/Menu4/deal000052-en.jpg"
                                                         orgimg="Images/Promos/Menu4/deal000052-en.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="ItemBack"> <div class="ItemTextWrapper"> <span class="ItemTitle">Ramadan Feast</span> <p>3 Medium pizzas + 2 sides + 1 Hershey’s Cookie + 2.25L Pepsi  </p> </div> </div>-->
                                        <div class="ItemCustomizeSection">
                                            <div class="SelectorsSection">
                                                <div class="Item_Selector1 fake_combobox_wrapper SelectorLeftWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL1CTRLTITLE_-52000_undefined"
                                                       data-dropdown="SEL1CTRL_-52000_undefined"></a>
                                                    <ul id="SEL1CTRL_-52000_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_Selector2 fake_combobox_wrapper SelectorRightWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL2CTRLTITLE_-52000_undefined"
                                                       data-dropdown="SEL2CTRL_-52000_undefined">Pan Pizza</a>
                                                    <ul id="SEL2CTRL_-52000_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_ModGroup fake_combobox_wrapper SelectorCenterWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="CUST_MODGROUP_CTRLTITLE_-52000_undefined"
                                                       data-dropdown="CUST_MODGROUP_CTRL_-52000_undefined"></a>
                                                    <ul id="CUST_MODGROUP_CTRL_-52000_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="underMob">
                                                <!-- <div class='WebItemButton AddToCartBtn'>-->
                                                <!-- <div class='WebItemBtnCounter' id="QTY_-52000_undefined">1</div> <div class='WebItemBtnCounter_BtnsWrp'> <a class='CounterUp' href='javascript:document._cr_act(142);'></a> <a class='CounterDown' href='javascript:document._cr_act(143);'></a> </div>-->
                                                <!-- <a class='WebItemBtnTitle' href="javascript:document._cr_act(144);"><span id="PRICE_-52000_undefined" >Order Now</span></a>-->
                                                <!-- </div>-->
                                                <!-- <a href="javascript:document._cr_act(145);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(144);" class="WebItemButton DealItemBtn"><span class="continueSpan">Order Now</span></a>-->
                                                <!-- <a href="javascript:document._cr_act(145);" class="WebItemCustomizeLink">Customize</a>-->
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="BKID_-4000059_undefined" class="SubMenuItem canNotAdd"
                                     style="width: 20%;">
                                    <div class="SubMenuItemInnerContainer">
                                        <div class="ItemFront">
                                            <div class="ItemTextWrapper">
                                                <!-- <div class="PromoFont med-37 med-large-37 smallest-33 small-33 columns noPadding"></div>-->
                                                <div class="promoItembox">
                                                    <!-- <div class="ItemTitle smallest-60 small-60 med-55 med-large-55 columns noPadding">Celebration Meals <a href="javascript:document._cr_act(151);" class="WebItemButton DealBtn mobPromo"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(150);" class="WebItemButton DealItemBtn mobPromo"><span class="continueSpan"><span id="DEALITEMPRICE_LABEL">Order Now</span></span></a> <a class='WebItemButton AddToCartBtn WebItemBtnTitle mobPromo' href="javascript:document._cr_act(150);"><span id="Span1">Order Now</span></a> </div>-->
                                                </div>
                                            </div>
                                            <div class="ItemImgWrapper">
                                                <a href="javascript:document._cr_act(151);"
                                                   class="promo_customize">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000059-en.jpg"
                                                         orgimg="Images/Promos/Menu4/portf4000059-en.jpg">
                                                </a>
                                                <a href="javascript:document._cr_act(150);"
                                                   class="promo_addToCart">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000059-en.jpg"
                                                         orgimg="Images/Promos/Menu4/portf4000059-en.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="ItemBack"> <div class="ItemTextWrapper"> <span class="ItemTitle">Celebration Meals</span> <p></p> </div> </div>-->
                                        <div class="ItemCustomizeSection">
                                            <div class="SelectorsSection">
                                                <div class="Item_Selector1 fake_combobox_wrapper SelectorLeftWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL1CTRLTITLE_-4000059_undefined"
                                                       data-dropdown="SEL1CTRL_-4000059_undefined"></a>
                                                    <ul id="SEL1CTRL_-4000059_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_Selector2 fake_combobox_wrapper SelectorRightWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL2CTRLTITLE_-4000059_undefined"
                                                       data-dropdown="SEL2CTRL_-4000059_undefined">
                                                        Pan
                                                        Pizza
                                                    </a>
                                                    <ul id="SEL2CTRL_-4000059_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_ModGroup fake_combobox_wrapper SelectorCenterWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="CUST_MODGROUP_CTRLTITLE_-4000059_undefined"
                                                       data-dropdown="CUST_MODGROUP_CTRL_-4000059_undefined"></a>
                                                    <ul id="CUST_MODGROUP_CTRL_-4000059_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="underMob">
                                                <!-- <div class='WebItemButton AddToCartBtn'>-->
                                                <!-- <div class='WebItemBtnCounter' id="QTY_-4000059_undefined">1</div> <div class='WebItemBtnCounter_BtnsWrp'> <a class='CounterUp' href='javascript:document._cr_act(148);'></a> <a class='CounterDown' href='javascript:document._cr_act(149);'></a> </div>-->
                                                <!-- <a class='WebItemBtnTitle' href="javascript:document._cr_act(150);"><span id="PRICE_-4000059_undefined" >Order Now</span></a>-->
                                                <!-- </div>-->
                                                <!-- <a href="javascript:document._cr_act(151);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(150);" class="WebItemButton DealItemBtn"><span class="continueSpan">Order Now</span></a>-->
                                                <!-- <a href="javascript:document._cr_act(151);" class="WebItemCustomizeLink">Customize</a>-->
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="BKID_-63000_undefined" class="SubMenuItem canNotAdd canCustomize"
                                     style="width: 20%;">
                                    <div class="SubMenuItemInnerContainer">
                                        <div class="ItemFront" style="display: block;">
                                            <div class="ItemTextWrapper">
                                                <!-- <div class="PromoFont med-37 med-large-37 smallest-33 small-33 columns noPadding"></div>-->
                                                <div class="promoItembox">
                                                    <!-- <div class="ItemTitle smallest-60 small-60 med-55 med-large-55 columns noPadding">Buy 1 Large Pizza Get Any 2 Free <a href="javascript:document._cr_act(157);" class="WebItemButton DealBtn mobPromo"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(156);" class="WebItemButton DealItemBtn mobPromo"><span class="continueSpan"><span id="DEALITEMPRICE_LABEL">Order Now</span></span></a> <a class='WebItemButton AddToCartBtn WebItemBtnTitle mobPromo' href="javascript:document._cr_act(156);"><span id="Span1">Order Now</span></a> </div>-->
                                                </div>
                                            </div>
                                            <div class="ItemImgWrapper">
                                                <a href="javascript:document._cr_act(157);"
                                                   class="promo_customize">
                                                    <img src="~/Pizza/Images/Promos/Menu4/deal000063-en.jpg"
                                                         orgimg="Images/Promos/Menu4/deal000063-en.jpg">
                                                </a> <a href="javascript:document._cr_act(156);"
                                                        class="promo_addToCart">
                                                    <img src="~/Pizza/Images/Promos/Menu4/deal000063-en.jpg"
                                                         orgimg="Images/Promos/Menu4/deal000063-en.jpg">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="BKID_-4000020_undefined" class="SubMenuItem canNotAdd"
                                     style="width: 20%;">
                                    <div class="SubMenuItemInnerContainer">
                                        <div class="ItemFront">
                                            <div class="ItemTextWrapper">
                                                <!-- <div class="PromoFont med-37 med-large-37 smallest-33 small-33 columns noPadding"></div>-->
                                                <div class="promoItembox">
                                                    <!-- <div class="ItemTitle smallest-60 small-60 med-55 med-large-55 columns noPadding">Wow Triples and Pepsi Offer <a href="javascript:document._cr_act(163);" class="WebItemButton DealBtn mobPromo"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(162);" class="WebItemButton DealItemBtn mobPromo"><span class="continueSpan"><span id="DEALITEMPRICE_LABEL">Order Now</span></span></a> <a class='WebItemButton AddToCartBtn WebItemBtnTitle mobPromo' href="javascript:document._cr_act(162);"><span id="Span1">Order Now</span></a> </div>-->
                                                </div>
                                            </div>
                                            <div class="ItemImgWrapper">
                                                <a href="javascript:document._cr_act(163);"
                                                   class="promo_customize">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000020-en.jpg"
                                                         orgimg="Images/Promos/Menu4/portf4000020-en.jpg">
                                                </a>
                                                <a href="javascript:document._cr_act(162);"
                                                   class="promo_addToCart">
                                                    <img src="~/Pizza/Images/Promos/Menu4/portf4000020-en.jpg"
                                                         orgimg="Images/Promos/Menu4/portf4000020-en.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="ItemBack"> <div class="ItemTextWrapper"> <span class="ItemTitle">Wow Triples and Pepsi Offer</span> <p>WOW Triples is here!! Get your hands on any three pizzas with Pepsi any day of the week for just AED 55, 77 or 99.</p> </div> </div>-->
                                        <div class="ItemCustomizeSection">
                                            <div class="SelectorsSection">
                                                <div class="Item_Selector1 fake_combobox_wrapper SelectorLeftWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL1CTRLTITLE_-4000020_undefined"
                                                       data-dropdown="SEL1CTRL_-4000020_undefined"></a>
                                                    <ul id="SEL1CTRL_-4000020_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_Selector2 fake_combobox_wrapper SelectorRightWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="SEL2CTRLTITLE_-4000020_undefined"
                                                       data-dropdown="SEL2CTRL_-4000020_undefined">
                                                        Pan
                                                        Pizza
                                                    </a>
                                                    <ul id="SEL2CTRL_-4000020_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="Item_ModGroup fake_combobox_wrapper SelectorCenterWrapper">
                                                    <a href="#" class="fake_combobox_button"
                                                       id="CUST_MODGROUP_CTRLTITLE_-4000020_undefined"
                                                       data-dropdown="CUST_MODGROUP_CTRL_-4000020_undefined"></a>
                                                    <ul id="CUST_MODGROUP_CTRL_-4000020_undefined"
                                                        class="fake_combobox_dropdown" data-dropdown-content=""></ul>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="underMob">
                                                <!-- <div class='WebItemButton AddToCartBtn'>-->
                                                <!-- <div class='WebItemBtnCounter' id="QTY_-4000020_undefined">1</div> <div class='WebItemBtnCounter_BtnsWrp'> <a class='CounterUp' href='javascript:document._cr_act(160);'></a> <a class='CounterDown' href='javascript:document._cr_act(161);'></a> </div>-->
                                                <!-- <a class='WebItemBtnTitle' href="javascript:document._cr_act(162);"><span id="PRICE_-4000020_undefined" >Order Now</span></a>-->
                                                <!-- </div>-->
                                                <!-- <a href="javascript:document._cr_act(163);" class="WebItemButton DealBtn"><span class="continueSpan">Order Now</span></a> <a href="javascript:document._cr_act(162);" class="WebItemButton DealItemBtn"><span class="continueSpan">Order Now</span></a>-->
                                                <!-- <a href="javascript:document._cr_act(163);" class="WebItemCustomizeLink">Customize</a>-->
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="main-slider-next" class="slider-buttons"></div>
                            <div id="main-slider-prev" class="slider-buttons"></div>
                        </div>
                    </div>
                    <div id="promoPaging" style="left: 33%;">
                        <div id="page_0" class="promoPage">&nbsp;&nbsp;</div>
                        <div id="page_1" class="promoPage">&nbsp;&nbsp;</div>
                        <div id="page_2" class="promoPage active">&nbsp;&nbsp;</div>
                        <div id="page_3" class="promoPage">&nbsp;&nbsp;</div>
                        <div id="page_4" class="promoPage">&nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end deal ---->


</div>

