
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" id="container_inner" style="text-align: center; padding-top: 30px;">
    <div id="RegisterSelect" style="padding: 20px" class="columns">
        <br>
        <section>
            <div class="title-top">Check out  </div>
            <div class="wPanel " style="border-radius: 0px 0px 5px 5px; display: inline-block">
                <h1>Order  has been created Successfully</h1>
                <h2>Your Order Number is # @ViewBag.OrderId</h2>             
            </div> <br> <br>
        </section>
    </div>
</div>
