@model IEnumerable<bobbySaxyKennel.Models.ItemOption>


@if (Model.Any())
{

    <div class="row">
        <h2>Select Options to Include</h2> 
        @foreach (var i in Model)
        {
            <div class="col-sm-4">
              <span> <input class="mealOption" type="checkbox" value="@i.Id" /> @i.Name - (@i.Price) </span>
            </div>
        }
      
    </div>
}