@{
    ViewBag.Title = "Contact";
}

<div class="row" id="container_inner" style="text-align: center; padding-top: 30px;">
    <div class="columns">
        <h1 class="background_page_title">Contact us</h1>
        <form id="" style="margin-top: 20px">
            <div class="small-12 small-land-12 medium-port-8 large-9 columns">
                <div id="constrainInputWidth" class="section-container accordion" data-section="accordion" style="">
                    <div class="title-top title text-left">
                        Email us your feedback
                        <span class="required">* required</span>
                    </div>
                    <div class="wPanel contactBorder" data-section-content="">
                        <div class="row" style="padding: 20px;">
                            @Html.Action("ContactUs")
                        </div>
                    </div>
                </div>
            </div>
        </form>
   
    </div>
</div>

@section Scripts
{

    <script src="~/Scripts/AppScripts/postWithModel.js"></script>
}
