@model bobbySaxyKennel.Models.Faq
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="container_inner" style="text-align: center; padding-top: 30px;">
    <!--MAIN -->
    <div class="row">
        <div class="large-12 small-12 columns">
            <h1 class="text-center">Frequently Asked Questions</h1>
            <p class="text-center">Here are the answers to the most common questions we receive.</p>
        <div class="section-container faqPadding" data-section="" id="FAQ">
            @Html.Raw(Model.Faq1)
        @*<section class="active">
                    <p class="title">
                        <a href="#" class="headerAnchor">Online Ordering</a>
                    </p>
                    <div class="content">
                        <div class="section-container accordion" data-section="accordion">
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How do I reset my password if I have lost or forgotten it?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">If you forget your password, that's OK! Just click on the "Forgot your password?" link on the Sign In page.</p>
                                </div>
                            </section> <!-- QUESTION -->
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How will I know when the restaurant received my Internet Order?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">Once you submit your order, the Order Confirmation page will show the time your order was received along with an estimated time that your order will be ready for carryout or delivery. You will also receive a confirmation email at the email address you provided at registration. And if you're still unsure about your order, you can always call the call center.</p>
                                </div>
                            </section> <!-- QUESTION -->
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">What payment options are available through Internet Ordering?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">Most restaurants accept cash, as well as all major credit cards.</p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">Can I save my credit card information for future online purchases? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">No. For security purposes, all your credit card information are handled through a secured bank gateway and are never saved on the Khaleej tacos website.</p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">Where can I change my account info?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">Once you've signed in to the site with your username and password, select "My Account" from the top menu. You can change your account information there.</p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">Are delivery charges higher for customers who order from Khaleej tacos online? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">No. The delivery fee is always the same online as it is offline for the restaurant taking and delivering your order. There is no difference. </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I tell how much I’m being charged for delivery service? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">The delivery fee is listed at checkout in the itemized portion of the cart summary. </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">Why do I have to set my cookies to be enabled? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">To complete an order online with Khaleej tacos, it's best to have cookies enabled in your browser. By enabling cookies you will be sharing information that helps Khaleej tacos provide you a better online experience. If you don't have cookies enabled and would like to know how, follow the directions below. (Note that in IE 6.0 and 7.0 the setting for cookies is under the "Privacy Tab.") </p>
                                    <ul style="font-size:13px;">
                                        <li>In your web browser menu (at the top of the page) select the menu "Tools."</li>
                                        <li>Under "Tools" choose "Internet Options."</li>
                                        <li>Choose the tab labeled "Security," and click on the button "Custom Level."</li>
                                        <li>Scroll until you see "Cookies."</li>
                                    </ul>
                                    <p class="content1">To enable: </p>
                                    <ul style="font-size:13px;">
                                        <li>Set "Allow cookies that are stored on your computer" to "Enable."</li>
                                        <li>Set "Allow per-session cookies" to "Enable."</li>
                                        <li>Click "OK" when you're done.</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">What does JavaScript enabled mean? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">To complete an order online with Khaleej tacos, it's best to have JavaScript enabled in your browser. With JavaScript enabled you will be able to take advantage of all the features that Khaleej tacos's Internet Ordering service offers. If you don't have JavaScript enabled and would like to know how, follow these steps: </p>
                                    <ul style="font-size:13px;">
                                        <li>In your web browser menu (at the top of the page) select the menu "Tools."</li>
                                        <li>Under "Tools" choose "Internet Options."</li>
                                        <li>Choose the Tab labeled "Security" and click on the button "Custom Level."</li>
                                        <li>Scroll until you see "Scripting," and set "Active Scripting" to "Enabled."</li>
                                        <li>Click "OK" when you're done.</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">What is future or advance ordering? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">If you place an order and do NOT check the box indicating the order is for a future time or date, then the restaurant will receive your order as soon as you choose to submit the order. Upon submitting the order you will receive a confirmation pop-up box and an estimated time when your order will be ready.</p>
                                    <p class="content1">If you would like to place a future order for the current day, you can choose any time in increments of 15 minutes as long as the time you enter is during restaurant hours of operation and at least 45 minutes later than the current time. We also accept orders for future dates! If you would like to place an order for a different day, you can do so up to 7 days in advance. You will receive an email confirmation when you submit the order and a reminder email on the day the order is due.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section class="active">
                    <p class="title">
                        <a href="#" class="headerAnchor">Our Restaurants</a>
                    </p>
                    <div class="content">
                        <div class="section-container accordion" data-section="accordion">
                            <section>
                                <p class="title title1">
                                    <a href="#">Why is there a set minimum amount for most delivery orders? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">For delivery orders placed online or by phone there is a minimum order amount. In most restaurants the minimum delivery amount is Dhs. 30</p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I find a restaurant near me? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">
                                        The Khaleej tacos
                                        <a class="findStore">Store Locator</a> will help you find the restaurant nearest you. It will also show which locations offer dine-in, delivery and carryout.
                                    </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I find nutritional information on Khaleej tacos products?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">
                                        It's easy to locate nutritional information for Khaleej tacos products. From the PizzaHut.com homepage, click on "Nutrition," then select the product that you want nutritional information about. The resulting page will have all the details about the product nutrition.
                                        <a href="http://www.pizzahut-me.com/sites/all/themes/pizzahut/images/nutritiontable.jpg" target="_blank">Take me there</a>.
                                    </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I give feedback to Khaleej tacos about my restaurant experience? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">
                                        Khaleej tacos wants to ensure that you have a terrific experience in our restaurants and on our website. If you would like to provide feedback, from the PizzaHut.com homepage, click on "Contact Us."
                                        <a href="contact">Take me there.</a>
                                    </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">Which restaurants offer delivery service?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">
                                        Most Khaleej tacos restaurants offer delivery service. To find out if your hometown Khaleej tacos restaurant offers delivery, enter your street address into our
                                        <a class="findStore">Store Locator</a> and look for the delivery icon in the search results.
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section class="active">
                    <p class="title">
                        <a href="#" class="headerAnchor">Employment</a>
                    </p>
                    <div class="content">
                        <div class="section-container accordion" data-section="accordion">
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I submit my resume for an open position?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">
                                        Submit your resume by visiting
                                        <a href="http://americana-group.com/CAREERS.aspx" target="_blank">career page</a>. Check back often - positions are updated daily.
                                    </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">How can I find a position in a specific state or category?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">Our Career Section offers specific criteria for your search. You may search by a variety of options including location, job title, and vacancy field. If you're interested in a certain job, you can also search by position. </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">If I don't see any positions that match my qualifications or interests, should I still submit a resume?</a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">Yes. Positions are being added daily and, more importantly, recruiters are searching these résumés in our database around the clock. </p>
                                </div>
                            </section>
                            <section class="active">
                                <p class="title title1">
                                    <a href="#">After I submit my resume online, how do I receive a confirmation? </a>
                                </p>
                                <div class="content content1">
                                    <p class="content1">You will receive an emailed acknowledgement to confirm the receipt of your résumé. After a resume is received, it is reviewed by a hiring manager. Only candidates selected for an interview will be contacted.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>*@
        </div>
        </div>
    </div>
</div>