/* ==================================== */
/* BUTTONS                              */
/* ==================================== */


/* ==================================== */
/* DEFAULT STYLES                       */
/* ==================================== */
body {
    background-image: url(Content66ce.png?ContentFile=background.png);
	background-position:50% 0;
	background-repeat: repeat-x;
	font-family: 'TradeGothicLTStd';
}

h1{
    color: #303030;
	font-size:36px;
	font-family: 'Newcastle-BasicClean';
	border-bottom:none;
	margin-top:9px !important;
}

h2 
{
    color: #572700;
}

input
{
    border: solid 1px #e3e3e3;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	padding:6px;
}

select
{
    border: solid 1px #e3e3e3;
}

.header_div{
    height: 248px;
	background-repeat:repeat-x
}

/* ==================================== */
/* MISC                                 */
/* ==================================== */

.LoginLinks
{
    color: #000000;
}

.LoginLinks a
{
    color: #000000;
}

.VerifyBox
{
    border: solid 1px #444444;
    background-color: #EEEEEE;
}

.VerifyBoxWide
{
    border: solid 1px #444444;
    background-color: #EEEEEE;
}

/* ==================================== */
/* FIELDS                               */
/* ==================================== */

.field_error 
{
    color: Red;
}

.summary 
{
    color: Red;
}

.link 
{
    color: #000000;
    text-decoration: none;
    height: 30px;
}

/* ==================================== */
/* GRID CONTROL                         */
/* ==================================== */

.GridHeader
{
    background-color: #E8E8E8;
}

.GridFilter
{
    background-color: #E8EEFF;
    border-bottom: solid 1px #99BBE8;
}

.GridActions
{
    background-color: #E8EEFF;
}

.GridRowHover
{
    background-color: #CCCCFF;
}

.GridRow
{
    background-color: #F8F8F8;
}

.GridRowAlt
{
    background-color: #F0F0F0;
}

.GridSelected
{
    background-color: #BBDDFF; 
}

.footer_div 
{
    color: Black;
	background:none;
}

.footer_div a
{
    color: Black;
}

.menu_div
{
    color: Black;
}

#TabDiv
{
    height: 450px;
    max-height: 450px;   
}

/* ==================================== */
/* ORDERING                             */
/* ==================================== */

.MainContainer
{
    background-color: #444444;
}

.ContentCenter
{
    background-color: #FFCC66;
}

.ItemContainer, .RestrictedItemContainer 
{
    background-color:#FFF;        
    border:none;
    width: 498px;      
}

.ItemContainerHover, .RestrictedItemContainerHover 
{
    background-color:#ebebec;
    border: none;
    width: 498px;      
}

.ItemContainerCustomizing
{
    width: 498px;      
    background-color:#CFB871;
    border:solid 1px rgb(240,235,212);
}

.RestrictedItemContainer
{
    cursor: pointer;
    width: 498px;      
}

.RestrictedItemContainerHover
{
    cursor: pointer;
    text-decoration: line-through;
    width: 498px;      
}

.ItemName
{
    width: 300px;    
    text-decoration: none;
}

.ItemDesc
{
    width: 490px;
}

.ItemPrices
{
    width: 170px;
}

/* ==================================== */
/* FOOD MENU                            */
/* ==================================== */

.MenuItem
{
    width: 532px;
}

#MenuContent
{
    width: 176px;
    overflow: hidden;
}

.MenuTitle
{
    float: left;
    height: 45px;
    width: 176px;
}

.MenuCategoryContainer
{
    float: left;
    height: 480px;
    width: 176px;
    overflow: hidden;   
    position: relative;
}

#MenuCategoryContent
{
    float: left;
    width: 176px;
    position: relative;
}

#MenuCategoryMore
{
    padding-top: 8px;
    float: left;
    height: 30px; 
    width: 190px;
}

.MenuCategoryMoreButton
{
    height: 25px; 
    width: 190px;
}

.MenuCategoryMoreButtonHover
{
    height: 25px; 
    width: 190px;
}

.MenuCategoryRow
{
    height: 30px; 
    width: 176px;
    padding: 0px;
}

.MenuCategoryRowHover
{
    color: #FFCC66;
    height: 30px; 
    width: 176px;
    padding: 0px;
	border-bottom: solid 2px #E2231A;
}    

.MenuCategoryRowSelected
{
    color: red;
    height: 30px; 
    width: 176px;
    padding: 0px;
}      

.MenuCategoryRow img, .MenuCategoryRowHover img, .MenuCategoryRowSelected img
{
    margin-top: 10px;
}

#MenuCategoryMore span
{
    display: none;
}

.HeaderImageRow
{
    height: 25px;
    width: 170px;
    padding: 10px 0px 0px 2px;
}

#SubMenuPanel 
{
    width: 517px;
    height: 130px;
    margin: 0px;
}

.SubMenuHeader
{
    color:Black;
    width: 517px;
    height: 130px;
    margin: 0px;
}

.SubMenuTitle
{
    width: 517px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

#MenuDiv
{
    padding-left: 0px;
    margin: 0px 0px 0px 0px;
    width: 514px;
    height: 435px;
}

#MenuScrollBar
{
    height: 435px;
}

.MenuItemListWithoutHeader #MenuDiv 
{
    margin-top:5px;
    height:560px;   
}

.MenuItemListWithoutHeader #MenuScrollBar 
{
    margin-top:5px;
    height:560px;   
}

/* ==================================== */
/* MODAL                             */
/* ==================================== */

.SizeModifier, .SizeModifierSelected
{
    width: 258px;
}

.ModifierGroupDiv
{   
    padding-left: 0px;
    width: 520px;
    padding-bottom: 10px;
}

.ModifierGroup
{   
    width: 520px;
    background-color: #000; 
    border-top:solid 1px rgb(240,235,212);
    color:rgb(240,235,212);   
}

.ModifierGroupInstructions
{   
    width: 520px;
    background-color: rgba(255,255,255,1.00);
    color: Black;
    padding: 2px;
}

.ModifierItem
{   
    background-color:#FFFFFF;
    color: Black;
    width: 258px;
}

.NestedModifierGroupDiv
{
    padding-top: 15px;   
}
.modal_bottom
{
    background: #ea232b !important;
}

.modal_header
{
    background: #ea232b !important;
}


/* ==================================== */
/* PAGE LAYOUT                          */
/* ==================================== */

.OrderComplete
{
    padding-top:460px;
    padding-left: 348px;
}

.OrderComplete div.Button
{
    background-image: url(Contentfec6.png?ContentFile=button.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=button.png", sizingMethod="scale");
	color:#fff;   
}

.OrderComplete div.ButtonHover
{
    background-image: url(Contentb5a3.png?ContentFile=button_hover.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=button_hover.png", sizingMethod="scale");    
}

#landing_button_start_order
{
    padding-left: 411px;   
    padding-top: 430px;   
}

#landing_button_start_order div.Button
{
    background-image: url(Contentfec6.png?ContentFile=button.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=button.png", sizingMethod="scale");    
}

#landing_button_start_order div.ButtonHover
{
    background-image: url(Contentb5a3.png?ContentFile=button_hover.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=button_hover.png", sizingMethod="scale");    
}

.nav_bar_div
{
    color: Black;    
    padding: 0px 0px 0px 2px;
    padding-left: 15px;
	background:none;
}

.nav_bar_div div
{
    color: Black;    
}

.nav_bar_div div a
{
    color: white;
	font-size:18px;
	font-family: 'Newcastle-BasicClean';   
}

.nav_button
{
    color: White;
}

.menu_div
{
    width: 190px;    
    height: 572px;
    margin: 0px 0px 0px 0px
}

.MenuSpacer
{
    display: none;
    width: 0px;    
    height: 0px;
    margin: 0px 0px 0px 0px
}

.HeaderImageRow
{
    display: block;
}

.center_div
{
    padding: 0px;
    width: 532px;
}

#OrderItems
{
    margin-top: 0px;
    width: 532px;
}

.page_div 
{
    background-image: url(Content9699.png?ContentFile=page_text_repeat.png);    
    background-repeat: repeat-y;
}

.start_page_div
{
    height: 572px;
}

.menu_page_div
{
    height: 572px;
}

.landing_page_div
{
    height: 572px;
}

.orderreceipt_page_div
{
    height: 572px;
}

.page_div div#page_inner_div 
{
    margin-left: -2px;
    background-image: url(Content4ab3.png?ContentFile=page_text.png);    
    background-repeat: no-repeat;
    overflow: hidden;
}

/* ==================================== */
/* RECEIPT                              */
/* ==================================== */

.order
{
    width: auto;
    height: 475px;
}

.order_header_div
{
    height: 81px;   
}

.receipt_div
{
    padding: 0px;
    width: 250px;
    height: 572px;
    padding-left: 10px;
    padding-right: 10px;
}

.order_section_div a
{
    color: #000;

}

.site_info_div
{
    padding: 0px;
}

.center_div_no_menu
{
    width: 685px;
}

#ReceiptBox
{
    width: 240px;
}

.PageNotes
{
    color: black;
}

.OrderLinksLeft a
{
    color: Black; 
}

/* ==================================== */
/* SCROLL BARS                          */
/* ==================================== */

#MenuScrollBar
{
    background-image: none;
    height: 435px;
    background-repeat: repeat;
    width: 15px;
    position: relative;
    background-color:#ebebec;
    border: solid 1px #ebebec;
    overflow: hidden;
}

#MenuScrollButton
{
    float:none;   
    width: 15px;
    background-image: url(Contenta0fc.png?ContentFile=scroll_menu_button.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_button.png", sizingMethod="size");    
    overflow: hidden;
}

#MenuScrollPageDown
{
    background-image: url(Contentf26e.png?ContentFile=scroll_menu_pagedown.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pagedown.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: block;
}

#MenuScrollPageUp
{
    background-image: url(Content1570.png?ContentFile=scroll_menu_pageup.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pageup.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: block;
}

#ModifierScrollBar
{
    background-image: none;
    height: 450px;
    background-repeat: repeat;
    width: 15px;
    position: relative;
    background-color: rgba(255,255,255,1.00);
    border: solid 1px rgba(235,0,0,1.00);
    overflow: hidden;
    padding: 0px;
}

#ModifierScrollButton
{
    width: 15px;
    background-color:#ea232b !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_button.png", sizingMethod="size");    
}

#ModifierScrollPageDown
{
    background-image: url(Contentf26e.png?ContentFile=scroll_menu_pagedown.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pagedown.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    position: relative;
    display: block;
}

#ModifierScrollPageUp
{
    background-image: url(Content1570.png?ContentFile=scroll_menu_pageup.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pageup.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    position: relative;
    display: block;
}

#landing_button_start_order
{
    padding-left: 278px;
    padding-top: 365px;
}

/* ==================================== */
/* PIZZA/BYO MODAL                      */
/* ==================================== */

.BYO .TabNumber
{
    margin: 9px 2px 0px 2px;
    float: left;
}

.BYO .TabName
{
    margin: 9px 2px 0px 2px;
    float: left;
}

.BYO .TabRight
{
    margin-right: 3px;
}

.BYO .TabCenter
{
    height:35px;
}

/* Add line */

.modal_entry_group_div
{
    padding-right: 3px;
}

.modal_entry_group_div#modal_entry_qty
{
    width: 70px;
}

.modal_entry_group_div#modal_entry_who_for
{
    width: 270px;
}

.modal_entry_label
{
    padding-top: 2px;
    float: left;
}

.modal_entry_value
{
    float: left;
}

/* Summary */

#SummaryTitles
{
    float: left;
    width: 220px;
}

#SummaryTitleSize
{
    padding: 0px 0px 0px 6px;
    float: left;
}

#SummaryBasePrice
{
    float: right;
    padding: 0px 5px 0px 0px;
}

.SummaryHeaderImage
{
    float: left;
    width:  90px;
    height: 132px;
}

#SummaryTitleName
{
    float: left;
    padding: 0px 0px 0px 4px;    
}

.SummaryItem
{
    height: 20px;
}

.SummaryName
{
    font-size: 12px;
    float: left;
    width: 150px;
    margin-left: 6px;
}

.SummarySection
{
    float: left;
    width: 16px;
    height: 16px; 
    margin-right: 8px;   
    cursor: pointer;
}

.SummaryWhole
{
    background-image: url(Content704f.png?ContentFile=symbol_additem_whole_inactive.png);
}

.SummaryWholeSelected
{
    background-image: url(Content1817.png?ContentFile=symbol_additem_whole_active.png);
}

.SummaryLeft
{
    background-image: url(Contentec5c.png?ContentFile=symbol_additem_left_inactive.png);        
}

.SummaryLeftSelected
{
    background-image: url(Content4f75.png?ContentFile=symbol_additem_left_active.png);        
}

.SummaryRight
{
    background-image: url(Content7c35.png?ContentFile=symbol_additem_right_inactive.png);       
}

.SummaryRightSelected
{
    background-image: url(Content2656.png?ContentFile=symbol_additem_right_active.png);       
}

.SummaryNoHalves
{
    float: left;
    width: 48px;
    height: 16px;
}

.SummaryPrice
{
    float: left;
    width: 35px;
    height: 16px; 
    margin-right: 5px;
    text-align: right;    
}

.SummaryDelete
{
    float: left;
    width: 16px;
    height: 16px; 
    cursor: pointer;
    background-image: url(Content2545.png?ContentFile=symbol_additem_cancel.png);
}

.SummaryAdd
{
    float: left;
    width: 16px;
    height: 16px; 
    cursor: pointer;
    background-image: url(Contente5e5.png?ContentFile=symbol_additem_add.png);
}

/* Modifiers */

.BYO #ModifierScrollBar
{
    display: none;
    width: 0px;
}

.BYO .TabPanel
{
    padding: 0px 10px 10px 10px;
    margin: 0px;
    float: left;
    width:630px;
}

.BYO .TabContent
{
    width: 650px;
    overflow: hidden;
    float: left;
}

.BYO .SizeModifier
{
    float: right;
    width: 235px;
}

.BYO .SizeModifierSelected
{
    float: right;
    width: 235px;
}

.BYO .SizeModifierSeparator
{
    display:block;
    clear:right;
}

.BYO 
{
    max-height: 592px;
    width: 960px;
}

.BYO .modal_header
{
    background-image: url(Contentda89.png?ContentFile=panel_header_byo.png) !important;
    width: 940px;
    height: 25px;
}

.BYO .modal_back
{
    background-color: #FFFFFF;   
    background-image: url(Content6aa9.png?ContentFile=panel_back_byo.png) !important;
    padding: 0px;
    width: 960px; 
    height: 540px;
}

.BYO .modal_bottom
{
    background-image: url(Content100e.png?ContentFile=panel_bottom_byo.png) !important;
    padding: 0px;
    width: 960px; 
    height: 21px;
}

.BYO .ModifierGroupHeaderSpacer, .BYO .ModifierGroup
{
    display:none;
}

.BYO .ModifierGroupInstructions
{
    width:606px;
}

.BYO .ModifierItemName
{
    padding-top: 3px;
}

.BYO .ModifierPrice
{
    padding-top:3px;
}

.BYO .ModifierItemCheck input
{
    margin:3px;
}

.BYO .ModifierItemCheck input
{
    height:17px;
}

.BYO .ModifierGroupDiv 
{
    width: 610px;
    padding: 0px;
    margin: 0px;
    float: none;
}

.BYO  .ModifierItem
{   
    width:303px;
    height:22px;
}

.BYO .ModifierGroupModifiers
{
    width: 610px;   
}

.BYO .ModifierName
{   
    width: 100%;
    overflow: hidden;
    height: 15px;
    font-weight: bold;     
    text-align: center;
}

.BYO .ModifierIcon
{
    padding-top: 57px; 
    background-repeat: no-repeat;
    height: 33px;
}

.BYO #ModifierSummary
{
    float: left;
    width: 305px;
    height: 489px; 
    display: block;
}

.BYO #ModifierSummaryHeader
{
    margin-top: 12px;
    height: 35px;
    color: Black;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
}

.BYO #ModifierSummaryDefaults
{
    margin-bottom: 10px;
}

.BYO #ModifierSummaryItems
{

}

.BYO .ModifierSummarySection
{
    margin: 0px 3px 3px 7px;
    border-bottom: solid 1px black;
    font-weight: bold;
}

.BYO #ModifierSummaryDefaults div
{
    color: black;
}

.BYO #ModifierSummaryItems div
{
    color: black;
}

.BYO .modal_entry_groups
{
    float: left;
    width: 745px;
}

.BYO .modal_add_line
{
    padding:10px;
    width: 940px;
}

.BYO #_DivModifierOptionsInput
{
    float: left;    
    width: 651px;
}

.BYO .TabPrevious, .BYO .TabPreviousHover
{
    display: block;
    width: 70px;
    height: 39px;
    left: 470px;
    top: 530px;
    cursor: pointer;
    position: absolute;     
    overflow: hidden;   
    z-index: 120000;     
}

.BYO .TabNext, .BYO .TabNextHover
{
    display: block;
    width: 70px;
    height: 39px;
    left: 550px;
    top: 530px;
    cursor: pointer;  
    position: absolute;
    overflow: hidden;   
    z-index: 120000;       
}

.BYO .TabPrevious
{
    background-image: url(Contente833.png?ContentFile=button_additem_prev_normal.png);
}

.BYO .TabPreviousHover
{
    background-image: url(Content10ba.png?ContentFile=button_additem_prev_hover.png);
}

.BYO .TabNext
{
    background-image: url(Content5828.png?ContentFile=button_additem_next_normal.png);
}

.BYO .TabNextHover
{
    background-image: url(Contentb214.png?ContentFile=button_additem_next_hover.png);
}

.BYO #TabDiv
{
    width: 650px;
    height: 487px;
    max-height: 487px;
}

.BYO .TabPanelDiv
{
    max-height: 434px;
    height: 434px;
    width: 610px;
    float: left;
    overflow: hidden;
    position: relative;
}

.BYO .TabPanel .ScrollBar
{
    background-image: none;
    height:434px;
    background-repeat: repeat;
    width: 15px;
    position: relative;
    background-color: rgb(240,235,212);
    border: solid 1px rgb(240,235,212);
    overflow: hidden;
}

.BYO .TabPanel .ScrollButton
{
    float:none;   
    width: 15px;
    background-image: url(Contenta0fc.png?ContentFile=scroll_menu_button.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_button.png", sizingMethod="size");    
    overflow: hidden;
}

.BYO .TabPanel .ScrollPageDown
{
    background-image: url(Contentf26e.png?ContentFile=scroll_menu_pagedown.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pagedown.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: block;
}

.BYO .TabPanel .ScrollPageUp
{
    background-image: url(Content1570.png?ContentFile=scroll_menu_pageup.png) !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=scroll_menu_pageup.png", sizingMethod="size");    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 15px;
    height: 15px;   
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: block;
}

.BYO .TabPanelScrollBar
{
    height:434px;
}

.BYO #TabPanelScrollDiv
{
    position: relative;  
    float: left;
    left: 0px; 
    top: 0px;  
}    

.BYO .TabStrip
{
    display: block;    
    padding-top: 3px;
    height: 50px;
}

.BYO .TabSelected { font-size: 15px; color: #FFFFFF; background-repeat: no-repeat; background-position: center; background-image: url(Content7487.png?ContentFile=tab_selected_byo.png); }
.BYO .TabUnselected { font-size: 15px; color: #FFFFFF; }
.BYO .TabHover { font-size: 15px; color: #DDDDDD; }


/* ==================================== */
/* Image Modal                          */
/* ==================================== */

#ModifierScrollButton {
    background:#000000 !important;
}

.modal_popup#IMAGE, .modal_popup#IMAGE .modalPopup
{
    width: 820px;
}

.modal_popup#IMAGE .modal_header, .modal_popup#IMAGE .modal_back
{
    width: 800px;
}

.modal_popup#IMAGE .modal_add_line
{
    width: 795px;
}

.modal_popup#IMAGE .modal_entry_groups
{
    width: 700px;
}

.modal_popup#IMAGE .modal_header
{
    background: #ea232b !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=panel_header_image.png", sizingMethod="scale");    
}

.modal_popup#IMAGE .modal_bottom
{

    background: #ea232b !important;
    background-image: none;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="Content.ashx?ContentFile=panel_bottom_image.png", sizingMethod="scale");    
    width:auto;
}

.modal_popup#IMAGE .PageItemImage
{
    width:250px;
    padding-right:4px;
    height:450px;
    float:left;
}

@font-face {
  font-family: 'Newcastle-BasicClean';
  src: url('content85ec.html?contentfile=Newcastle.eot?#iefix') format('embedded-opentype'),  
	  url('contentd0c3.html?contentfile=Newcastle.otf')  format('opentype'),
	  url('content58d5.html?contentfile=Newcastle.woff') format('woff'), 
	  url('contentf1d9.html?contentfile=Newcastle.ttf')  format('truetype'), 
	  url('contentec8f.html?contentfile=Newcastle.svg#Newcastle-BasicClean') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'TradeGothicLTStd';
	src: url('content3a16.html?contentfile=TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),  
		url('content1b32.html?contentfile=TradeGothicLTStd.otf')  format('opentype'),
		url('contente48e.html?contentfile=TradeGothicLTStd.woff') format('woff'), 
		url('content43af.html?contentfile=TradeGothicLTStd.ttf')  format('truetype'), 
		url('content802d.html?contentfile=TradeGothicLTStd.svg#TradeGothicLTStd') format('svg');
	font-weight: normal;
	font-style: normal;
}
#landing_advanced_new_delivery,
#landing_advanced_new_pickup,
#landing_advanced_reorder_div,
#landing_advanced_create_account_div{
	background-color:#ebebec;
}

.Button, .ButtonHighlight, .ButtonHighlight, .ButtonRight, .ButtonLeft, .ButtonDown, .ButtonDisabled, .ButtonSmall, .ButtonSmallRight, .ButtonSmallLeft, .Center .ButtonSmall,
.Center .ButtonSmallRight, .Center .ButtonSmallLeft, .Center .Button, .Center .ButtonHighlight, .Center .ButtonReceiptRight, .Center .ButtonReceiptLeft, .Center .ButtonReceipt, .Center .ButtonRight, .Center .ButtonLeft, .ButtonTiny{
	height: auto;
    cursor: pointer;
    text-align: center;
	padding: 8px 10px;
	font-size:16px;
	font-family: 'Newcastle-BasicClean';
	color:#fff;
	background:#ea232b;
	background-image:none !important;
}
.ButtonHover, .ButtonRightHover, .ButtonLeftHover, .ButtonDownHover, .ButtonDisabledHover,
.ButtonSmallHover, .ButtonSmallRightHover, .ButtonSmallLeftHover,
 .Center .ButtonSmallHover, .Center .ButtonSmallRightHover, .Center .ButtonSmallLeftHover, .Center .ButtonHover, .Center .ButtonRightHover, .Center .ButtonLeftHover, .Center .ButtonReceiptHover, .Center .ButtonReceiptLeftHover, .Center .ButtonReceiptRightHover, .ButtonTinyHover {
    height: auto;
    cursor: pointer;
    text-align: center;
    padding: 8px 10px;
	font-size:16px;
	font-family: 'Newcastle-BasicClean';
	color:#fff;
	background:#8c151a;
	background-image:none !important;
}
#landing_advanced_create_account_div {
    height: auto;
	padding-bottom:8px;
}
.nav_button, .account_div{padding-top:5px !important;}

.location_select_location_div .ButtonSmallRight, .location_select_location_div .ButtonSmallRightHover{margin-top:14px;}

/**/

.us_phone_div {width:160px !important;}
.us_phone_div input[type="text"]{width:30px !important;}
.border {border: solid 1px #d8d8d8;}

#ReceiptButtonCancelDiv .ButtonReceiptLeft, #ReceiptButtonCancelDiv .ButtonReceiptLeftHover,
#ReceiptButtonCheckoutDiv .ButtonReceiptRight, #ReceiptButtonCheckoutDiv .ButtonReceiptRightHover,
#ReceiptButtonModifyDiv .ButtonReceiptRight, #ReceiptButtonModifyDiv .ButtonReceiptRightHover{width:auto !important; float:none !important;}

#ReceiptButtonCancelDiv .ButtonReceiptLeft, #ReceiptButtonCancelDiv .ButtonReceiptLeftHover{margin-bottom:5px;}
#QuestionOKButtonDiv .Button, #QuestionOKButtonDiv .ButtonHover, #QuestionCancelButtonDiv .Button, #QuestionCancelButtonDiv .ButtonHover{width:110px !important;}

#AddInviteeButtonDiv .ButtonTiny, #AddInviteeButtonDiv .ButtonTinyHover{padding: 5px 10px 5.5px;}

#ctl00_ctl00_Content_Content_divDefaultEmailForm div.border{border:none;}
#ctl00_ctl00_Content_Content_divDefaultEmailForm #ctl00_ctl00_Content_Content_txtContactUs{margin:10px 0 15px;}