@{
    ViewBag.Title = "Home Page";
}

<div id="home_carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home_carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/2_1.png" alt="" />
            <div @*class="carousel-caption"*@ class="carousel-item">
                <h2>Bobby Saxy Kennel</h2>
                <p>Nigerians Favorite and Popular Dog Breeders </p>
                <form method="get" action="#">
                    <button type="submit" class="btn btn-lg btn-default">Find A Dog</button>
                </form>
            </div>
        </div>
        <div class="item">
            <img src="~/images/3_1.png" alt="" />
            <div @*class="carousel-caption"*@ class="carousel-item">
                <h2>Do You Want A Dog</h2>
                <p>We Offer and Breed All Kinds of Dog Species you can Imaging</p>
                <form method="get" action="#">
                    <button type="submit" class="btn btn-lg btn-default">Learn How!</button>
                </form>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#home_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>  
    @*<input type="text" class="form-control" placeholder="Find A Breed" />*@   
</div>
<div class="service">
    <div class="container">
        <div class="row ">
            <h3 class="text-center text-captialize pt-4">Our Services </h3>
            <div class="col-md-4 col3">
                <a href="services-single.html" title="Adoption centre" class="roundal" id="adoption"></a>
                <h3>Dog Sales</h3>
                <p>We sale dogs of various breeds </p>

            </div>
            <div class="col-md-4 col3">
                <a href="services-single.html" title="Dog boarding kennels" class="roundal" id="kennel"></a>
                <h3>Care Advice</h3>
                <p>We provide care advice relating to dog training, management, grooming and more  </p>

            </div>
            <div class="col-md-4 col3">
                <a href="services-single.html" title="Doggy grooming" class="roundal" id="grooming"></a>
                <h3>Fast Delivery</h3>
                <p>We delivery dogs to any location, at high speed</p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 centered">
                <h3><span>Our Dog Gallary</span></h3>
                <p>Picture your next dog, heres a gallary we provide for you</p>
            </div>
        </div>
    </div>

</div>

<div id="c-carousel">
    <div id="wrapper">
        <div id="carousel">
            <div>
                <a href="~/images/myDogs/Bobby Dog.jpg" title="Dog" data-hover="Sandy the west highland terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/Bobby Dog.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/BullDogs.jpg" title="Dog" data-hover="Marty the yorkshire terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/BullDogs.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/Dog.jpg"title="Dog" data-hover="Kyla the bull terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/Dog.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/Imported.jpg" title="Dog" data-hover="Marty the yorkshire terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/Imported.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/kennel Dog.jpg" title="Dog" data-hover="Sandy the west highland terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/kennel Dog.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/puppy.jpg" title="Dog" data-hover="Kyla the bull terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/puppy.jpg" alt="Dog" />
                </a>
            </div>
            <div>
                <a href="~/images/myDogs/Quite Puppy.jpg" title="Dog" data-hover="Kyla the bull terrier" data-toggle="lightbox" class="lightbox">
                    <img src="~/images/myDogs/Quite Puppy.jpg" alt="Dog" />
                </a>
            </div>
        </div>
        <div id="pager" class="pager"></div>
    </div>
</div>


@*<div class="testimonials" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <div id="home_testimonial" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#home_testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#home_testimonial" data-slide-to="1"></li>
                        <li data-target="#home_testimonial" data-slide-to="2"></li>
                        <li data-target="#home_testimonial" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner testimony-items">
                        <div class="item active">
                            <div class="test-img">
                                <img src="~/images/people/blackMan.jpg" class="img-circle img-responsive" />                   
                                </div>
                            <p class="text-uppercase">Jame wilfred</p>
                            <p>
                            "This Company is the Best, When i made an order it was Delivered within 3 days."
                            </p>
                             </div>    
                        <div class="item">
                            <div class="test-img">
                                <img src="~/images/people/1.jpg" class="img-circle img-responsive" />
                            </div>
                            <p class="text-uppercase">Austin Peter</p>
                            <p>
                                "I thought it would be difficult to find quality dogs in nigeria, i was thinking oversea ordering, until i found this website and purchased a french bull dog"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span class="span-heading">Find your perfect companion</span></h3>
            <p>Find a Dog, and make an order, we send it right to you and dont worry we accept payment on delivery</p>
        </div>
    </div>
    <div class="row adoption">
        @*<div class="col-md-4">
            <a href="adoption-single.html" title="">
            <img src="~/images/dog-4.png" alt="Saint Bernard" /></a>
            <div class="title">
                <h5>
                    <span data-hover="Saint Bernard">Saint Bernard</span>
                    <br />
                
                </h5>
              
            </div>
            <button href="#" class="btn btn-primary btn-block">  Send Order</button>
        </div>
        <div class="col-md-4">
            <a href="adoption-single.html" title="Beagle"><img src="~/images/dog-5.png" alt="Beagle" /></a>
            <div class="title">
                <h5>
                    <span data-hover="Beagle">Beagle</span>
                </h5>
            </div>
            <button href="#" class="btn btn-default btn-block">  Send Order</button>
        </div>
        <div class="col-md-4">
            <a href="adoption-single.html" title="Staffordshire Bull Terrier"><img src="~/images/dog-6.png" alt="Staffordshire Bull Terrier" /></a>
            <div class="title">
                <h5>
                    <span data-hover="Staffordshire Bull Terrier">Staffordshire Bull Terrier</span>
                </h5>
            </div>
            <button href="#" class="btn btn-default btn-block">  Send Order</button>
        </div>
        <div class="col-md-4">
            <a href="adoption-single.html" title="King Charles Cavalier"><img src="~/images/dog-7.png" alt="King Charles Cavalier" /></a>
            <div class="title">
                <h5>
                    <span data-hover="King Charles Cavalier">King Charles Cavalier</span>
                </h5>
            </div>
            <button href="#" class="btn btn-default btn-block">  Send Order</button>
        </div>
        <div class="col-md-4">
            <a href="adoption-single.html" title="Dachshund"><img src="~/images/dog-8.png" alt="Dachshund" /></a>
            <div class="title">
                <h5>
                    <span data-hover="Dachshund">Dachshund</span>
                </h5>
            </div>
            <button href="#" class="btn btn-default btn-block">  Send Order</button>
        </div>
        <div class="col-md-4">
            <a href="adoption-single.html" title="French Bulldog"><img src="~/images/dog-9.png" alt="French Bulldog" /></a>
            <div class="title">
                <h5>
                    <span data-hover="French Bulldog">French Bulldog</span>
                </h5>
            </div>
            <button href="#" class="btn btn-default btn-block">  Send Order</button>
        </div>*@
        @Html.Action("ShortPets", "Home")
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-block" href="@Url.Action("Gallary","Home")">View More</a>
        </div>
    </div>
</div>

<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3  class="text-center"><span class="span-heading">Message Us</span></h3>
                
             @Html.Partial("_ContactUs")
            </div>
            @*<div class="col-md-8">
             <h4>Contact Us</h4>
                <div class="text-center">
                    <small><i class="glyphicon glyphicon-phone-alt"></i>  +2348155560515</small>
                    <small><i class="glyphicon glyphicon-inbox"></i>  Bobbysega2003@gmail.com </small>
                </div>
     
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">Notification</h4>
            </div>
            <div class="modal-body">
                <p id="txtMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{   
<script src="~/Scripts/AppScripts/postWithModel.js"></script>
}